html {
  font: normal 10px / 20px Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fafafa;
  color: #1c1c1c;
}
* {
  margin: 0;
}
header {
  position: relative;
  width: 100vw;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.containerL {
  display: flex;
  gap: 15px;
  font-family: "SF Display", sans-serif;
}
.containerR {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "SF Display", sans-serif;
  color: #fff;
}
.random {
  font-size: medium;
  color: #0078f6;
}
.today span {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.fa-magnifying-glass {
  color: #f6f6f6;
  opacity: 50%;
}
.spaceliner {
  color: #f6f6f6;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    color: #0078f6;
  }
}
.next_topic {
  font-size: small;
  opacity: 50%;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}
.today {
  border-radius: 50px;
  padding: 10px;
  background: rgb(237, 237, 237);
  opacity: 0.8;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: black;
}
.social {
  display: flex;
  gap: 10px;
  opacity: 20%;
}
.searchw > input {
  border: none;
  background: none;
  color: white;
  opacity: 80%;
}
.searchw > placeholder {
  border: none;
  background: none;
}
#checkbox {
  display: none;
}
.toggle {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  transition-duration: 0.3s;
}
.logo {
  margin-left: 100px;
}
.bar1 {
  width: 80%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.bar2 {
  width: 50%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.bar3 {
  width: 83%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
#checkbox:checked + .toggle #bar2 {
  transform: translate(14px);
  rotate: (60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px);
  rotate: (-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}
#checkbox:checked + .toggle {
  transform: none;
}
.hero-news {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
.news-hover {
  width: 446.4px;
  height: 446.4px;
  border-radius: 15px;
  overflow: hidden;
}
.news-photo {
  width: 100%;
  height: 100%;
  background-image: url(./images/bbc.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.news-photo:hover {
  transform: scale(1.1);
}
.maincontent {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 608.59px;
}
.maincontenttext > p {
  color: white;
  font-size: 36px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
}
.maincontenthome {
  font-size: 36px;
  font-weight: 900;
  color: white;
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-weight: 900;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  text-decoration: none;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author-right {
  flex-direction: row-reverse;
  text-align: right;
}

.pic {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/gerelchimeg.jpeg);
  background-size: contain;
}
.maincontent > h1 {
  color: #0078f8;
  font-size: 14.4px;
  font-weight: 900;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.name {
  font-size: 12.6px;
  color: white;
  font-weight: 700;
}
.name > h6 {
  opacity: 50%;
}
.Lefttopic {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16.2px;
  font-weight: 900;
}
.icon-half {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 6px 18px;
  border-radius: 18px;
  display: flex;
  gap: 10px;
}
.dailynews {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.dailynewsbox {
  width: 245.4px;
  height: 362.43px;
  padding: 10px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 0, 0.3) 5px 10px 8px;
  transition: all 0.3s ease-in-out;
}
.dailynewsbox:hover {
  transform: scale(1.2);
}
.slider1 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/khulan.png);
}
.slider2 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/Mongol\ Apps..jpeg);
}
.slider3 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/masters.png);
}
.slider4 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/magicstore.png);
}
.slider5 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/khangal.jpeg);
}
.niitelsenmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0078f8;
}
.dailynewsgarchig {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16.2px;
}
.smalltitle {
  font-weight: 700;
}
.newslasttext {
  background-color: #0078f8;
  border-radius: 10px;
  padding: 1px 11px 1px 11px;
  font-size: 12.6px;
}
.hero-gradient {
  position: absolute;
  z-index: -4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 5px,
    rgba(0, 1, 1, 1) 80%,
    rgba(0, 1, 1, 1) 100%
  );
}
.hero-background {
  position: absolute;
  z-index: -5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.uk-cover-background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  margin-top: 500px;
}
.author {
  display: flex;
  gap: 10px;
  align-items: center;
}
.article_left {
  transition: all 0.2s ease;
  margin: auto;
  width: 1100px;
  height: 280px;
  border-radius: 15px 0 15px 15px;
}
.authorname_e {
  font-size: 12.6px;
}
.authordate {
  opacity: 50%;
}
.authorpic1 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg);
  background-size: contain;
}
.authorpic2 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/Unread\ Today.jpeg);
  background-size: contain;
}
.authorpic3 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/author.png);
  background-size: contain;
}

.articletext {
  margin-top: 10px;
  background-color: white;
  box-shadow: 3px 5px 4px 5px rgb(0, 0, 0, 0.1);
  border-radius: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  width: 740px;
  height: 140px;
  padding: 28px 65px 20px 51px;
  gap: 30px;
  transition: all 0.2s ease;
}
.articletext:hover {
  box-shadow: 6px 10px 8px 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
}
.articleimg {
  width: 135px;
  height: 135px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.unread_home {
  text-decoration: none;
}
.articletextmain {
  width: 500px;
}
.articletextmain > h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -18px;
  font-size: 12.6px;
  color: #0078f8;
  width: 50%;
}
.articletextmain > h2 {
  font-size: 21.6px;
  margin-top: 5px;
}
.author-right {
  flex-direction: row-reverse;
  text-align: right;
}
.article_right {
  transition: all 0.2s ease;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 280px;
  align-items: flex-end;
}
.article_right > .articletext {
}
.articlepic1 {
  background-image: url(https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/8c4209153f0263cba4043bb3989979d5.jpg);
}
.articlepic2 {
  background-image: url(./images/Book.jpeg);
}
.articlepic3 {
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/08c0d0c8d5ccb207e5382dd263de6444.jpg);
}
.article_right:hover {
  transform: translate(10px, 0);
  cursor: pointer;
}
.article_left:hover {
  transform: translate(10px, 0);
  cursor: pointer;
}
.View {
  opacity: 50%;
  margin-top: 30px;
}
.allnewsdate {
  width: 80%;
  margin: auto;
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  font-size: 13.5px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.datebox {
  padding: 20px 12px;
}
.datebox_1 {
  font-weight: 700;
  color: #0078f8;
  border-bottom: #0078f8 1px solid;
}
.datebox_2,
.datebox_3 {
  text-align: center;
}
.datebox_4 {
  text-align: end;
}
.datebox:hover {
  color: #0078f8;
  border-bottom: 1px solid #0078f8;
}
.allnewsphoto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  gap: 20px;
}
.gridphoto {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.gridphoto:hover {
  transform: translate(0, -10px);
}
.allnewsgridleft {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 360px;
  gap: 20px;
}
.allnewsgridright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 270px 320px;
  gap: 20px;
}
.box1 {
  position: relative;
  grid-column: 2 span;
  background-image: url(../images/copilot.jpeg);
  background-size: cover;
  background-position: left;
}
.backimg {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
}
.box1text {
  padding: 20px;
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: white;
  bottom: 0;
}
.box1text > h1 {
  font-size: 12.6px;
  opacity: 50%;
  font-weight: lighter;
}
.box1text > p {
  font-size: 15px;
  font-weight: 700;
}
.timing {
  transform: translate(-30px, 12px);
  font-size: 12.6px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  bottom: 30%;
  right: 0;
  z-index: 2;
  color: white;
}
.box2 {
  position: relative;
  background-image: url(../images/simple.png);
  background-size: cover;
  background-position: center;
}

.box3 {
  position: relative;
  background-image: url(../images/nomiintuhai.jpeg);
  background-size: cover;
  background-position: center;
}
.box3 > .hugatsaa {
  background-color: rgb(0, 0, 0, 0.3);
}
.box4 {
  position: relative;
  background-image: url(../images/cgold.jpeg);
  background-size: cover;
  background-position: center;
}
.box4 > .hugatsaa {
  background-color: rgb(0, 0, 0, 0.3);
}
.box4 > .backimg {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(135deg, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.1));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
}
.box5 {
  position: relative;
  background-image: url(../images/musicion.png);
  background-size: cover;
  background-position: center;
}
.box6 {
  position: relative;
  background-image: url(../images/centraltv.jpeg);
  background-size: cover;
  background-position: center;
}
.box7 {
  position: relative;
  background-image: url(../images/khulan.png);
  background-size: cover;
  background-position: center;
}
aside {
  margin-top: 500px;
}
footer {
  width: 100vw;
  background-color: black;
  position: relative;
}
.footer-top {
  width: 100vw;
  background-color: black;
  height: 100px;
}
.footer-top-inside {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  background-color: #fff;
}
.menuandcontact {
  display: flex;
  width: 90vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-top: 50px;
}
.footerunreadlogo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
}
.contactbutton1 {
  width: 323px;
  height: 90px;
  border: none;
  position: relative;
  font-weight: 500;
  padding: 21px 80px 27px 28px;
  border-radius: 18px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: url(/images/btn-black.png);
  color: #f6f6f6;
  font-weight: lighter;
}

.arrow {
  position: absolute;
  left: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: rgb(0, 120, 248, 0) solid 1px;
}
.contactbutton1:hover {
  transform: translate(10px, 0);
}
.contactbutton1:hover .arrow {
  border: blue solid 2px;
  padding: 5px;
}
.contactbutton1 > h1 {
  font-size: 12.6px;
  opacity: 50%;
  text-align: left;
}
.contactbutton1 > h2 {
  font-size: 12.6px;
  font-weight: 700;
  text-align: left;
}
.appstorelogo {
  display: flex;
  gap: 20px;
}
.footerright {
  margin-left: 10px;
  border: 1px solid #000;
  width: 500px;
  color: #fff;
}
.footer-nav {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  gap: 10px;
  margin-left: 100px;
  color: #fff;
}
.copy-right {
  margin-top: 50px;
  margin-left: 100px;
  color: #fff;
  opacity: 50%;
  font-weight: lighter;
}
.footer-grid {
  display: grid;
  margin-top: 50px;
  margin-left: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  gap: 20px;
  opacity: 50%;
}
.corner1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.corner2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  color: #fff;
}
.corner1 span {
  color: #0078f6;
  font-size: large;
  font-weight: bold;
}
.footer-list {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 50%;
}
.footer-list:hover {
  opacity: 1;
  transform: translate(5px, 0);
}
.visit {
  margin-top: 30px;
  color: #fff;
}
.social-icons {
  padding: 90px 0;
  color: rgb(255, 255, 255, 0.2);
  font-size: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.fa-square-facebook:hover {
  color: #0078f6;
  cursor: pointer;
}
.fa-square-x-twitter:hover {
  color: #fff;
  cursor: pointer;
}
.fa-instagram:hover {
  color: rgb(250, 126, 30);
  cursor: pointer;
}
.fa-linkedin-in:hover {
  color: #0078f6;
  cursor: pointer;
}
.fa-youtube:hover {
  color: red;
  cursor: pointer;
}
.fa-soundcloud:hover {
  cursor: pointer;
  color: orange;
}
.unread_home {
  text-decoration: none;
  color: black;
}
