* {
  margin: 0;
}
header {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 28px;
}
.containerL {
  display: flex;
  gap: 15px;
  font-family: "SF Display", sans-serif;
}
.containerR {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "SF Display", sans-serif;
}
.random {
  color: #0078f6;
}
.today {
  box-shadow: 4px 4px 50px -4px rgba(209, 209, 209, 0.6);
  padding-top: 8px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 18px;
  border-radius: 30px;
  background-color: aliceblue;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.article-title {
  position: relative;
  top: 10px;
}
.article-title::first-line {
  color: #0078f6;
}
.article-title span {
  color: black;
  opacity: 0.4;
}
.article-head {
  position: relative;
  top: 25px;
  font-family: "SF Display", sans-serif;
}
.article-image {
  position: relative;
  top: 100px;
}
.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  top: 200px;
}
.article-body {
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
  font-family: "SF Display", sans-serif;
}
