* {
  margin: 0;
}
html {
  font: normal 15px / 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fafafa;
  color: #1c1c1c;
}
header {
  position: relative;
  width: 100vw;
}
section {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.containerL {
  display: flex;
  gap: 15px;
  font-family: "SF Display", sans-serif;
}
.containerR {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "SF Display", sans-serif;
  color: #000;
}
.random {
  font-size: smaller;
  color: #0078f6;
  animation-name: blink;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.today span {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    color: #0078f6;
  }
}
.next_topic {
  font-size: small;
  opacity: 50%;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}
.today {
  border-radius: 50px;
  padding: 10px;
  background: rgb(237, 237, 237);
  opacity: 50%;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.social {
  display: flex;
  gap: 10px;
  opacity: 20%;
  margin-left: 120px;
}
::placeholder {
  border: none;
  background: none;
  opacity: 30%;
  border: none;
}
.searchw > input {
  border: none;
}
#checkbox {
  display: none;
}
.toggle {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  transition-duration: 0.3s;
}
.logo {
  margin-left: 100px;
}
.bar1 {
  width: 80%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.bar2 {
  width: 50%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.bar3 {
  width: 83%;
  height: 3px;
  background-color: gray;
  border-radius: 5px;
  transition-duration: 0.3s;
}
#checkbox:checked + .toggle #bar2 {
  transform: translate(14px);
  rotate: (60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px);
  rotate: (-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}
#checkbox:checked + .toggle {
  transform: none;
}
.topic-container {
  position: relative;
  width: 80vw;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.topic-head {
  position: relative;
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
  font-size: small;
}
.topic-head span {
  position: relative;
  font-family: "SF Display", sans-serif;
  color: #0078f6;
  font-size: small;
  padding-right: 20px;
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.topic-title {
  position: relative;
  margin-top: 10px;
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
}
.topic-pic {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.topic-pic > img {
  width: 800px;
}
.topic-header {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topic-author {
  margin-top: 10px;
  gap: 10px;
  display: flex;
}
.author-name h5 {
  margin-top: 5px;
  opacity: 40%;
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
}
.author-name h6 {
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
}
.spaceline {
  border-top: 1px solid #000;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.spacetext h5 {
  margin-top: 5px;
  opacity: 40%;
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
}
.spacetext h6 {
  margin-top: 5px;
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
}
.pic {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 2px;
  border-radius: 50%;
  background-image: url(https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg);
  background-size: contain;
}
.topic-main {
  font-family: "SF Display", sans-serif;
  color: #000;
  font-weight: lighter;
  grid-area: /4 span;
}
.article-head {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 10px;
}
.topic-right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.article-body {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 30px;
}
.article-body h2 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  font-family: sans-serif;
}
.topic-image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.image-caption {
  margin-top: 20px;
  opacity: 50%;
}
.topic-garchig {
  margin-top: 50px;
  text-transform: uppercase;
  color: #0078f6;
  padding-bottom: 25px;
}
.apu {
  text-decoration: none;
  color: #0078f6;
}
.sports-photo {
  margin-top: 15px;
  margin-bottom: 10px;
}
.topic-ending {
  height: 250px;
  margin-top: 50px;
}
.topic-ending-box {
  margin-top: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  background-color: aliceblue;
  opacity: 50%;
  position: relative;
  z-index: -1;
}
.topic-ending-text {
  position: absolute;
  z-index: 2;
}
.media-buttons {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.social-buttons {
  width: 44px;
  height: 44px;
  margin-top: 15px;
}
.comment {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commemt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-text-container {
  border-radius: 20px;
  background-color: #fff;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.comment-line {
  border-top: 1px solid gray;
  margin-top: 5px;
  opacity: 50%;
}
.comment-submit {
  border-radius: 4px;
  background-color: #fafafa;
  padding: 7px 19px;
  text-align: center;
  display: flex;
  border: 1px solid gray;
}
.name {
  border: none;
  text-decoration: none;
}
.free-comment {
  text-align: center;
  font-weight: bolder;
  border: none;
  background-color: #fafafa;
}
.text-blue {
  color: #0078f6;
}
.comment-info {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: lighter;
  font-size: smaller;
  width: 500px;
  font-family: "SF Display", sans-serif;
}
.comment-logo {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-family: "SF Display", sans-serif;
  font-weight: 700;
  gap: 10px;
}
.footer-top {
  width: 100vw;
  height: 250px;
  background-color: black;
}
.footer-inside {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refresh-line {
  border-top: 1px solid gray;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 250px;
  position: relative;
  z-index: 1;
}
.refresh-line span {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refresh-line span:hover {
  padding: 2px;
  cursor: pointer;
}
footer {
  width: 100vw;
  position: absolute;
  background-color: black;
}
.menuandcontact {
  display: flex;
  width: 90vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-top: 50px;
}
.footerunreadlogo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid black;
}
.contactbutton1 {
  width: 323px;
  height: 90px;
  border: none;
  position: relative;
  font-weight: 500;
  padding: 21px 80px 27px 28px;
  border-radius: 18px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: url(/images/btn-black.png);
  color: #f6f6f6;
  font-weight: lighter;
}

.arrow {
  position: absolute;
  left: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: rgb(0, 120, 248, 0) solid 1px;
}
.contactbutton1:hover {
  transform: translate(10px, 0);
}
.contactbutton1:hover .arrow {
  border: blue solid 2px;
  padding: 5px;
}
.contactbutton1 > h1 {
  font-size: 12.6px;
  opacity: 50%;
  text-align: left;
}
.contactbutton1 > h2 {
  font-size: 12.6px;
  font-weight: 700;
  text-align: left;
}
.appstorelogo {
  display: flex;
  gap: 20px;
}
.footerright {
  margin-left: 10px;
  width: 500px;
  color: #fff;
}
.footer-nav {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  gap: 30px;
  margin-left: 100px;
  color: #fff;
}
.copy-right {
  margin-top: 50px;
  margin-left: 100px;
  color: #fff;
  opacity: 50%;
  font-weight: lighter;
}
.footer-grid {
  display: grid;
  margin-top: 50px;
  margin-left: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  gap: 20px;
  opacity: 50%;
}
.corner1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.corner2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  color: #fff;
}
.corner1 span {
  color: #0078f6;
  font-size: large;
  font-weight: bold;
}
.footer-list {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 50%;
}
.footer-list:hover {
  opacity: 1;
  transform: translate(5px, 0);
}
.visit {
  margin-top: 30px;
  color: #fff;
}
.social-icons {
  padding: 90px 0;
  color: rgb(255, 255, 255, 0.2);
  font-size: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.fa-square-facebook:hover {
  color: #0078f6;
  cursor: pointer;
}
.fa-square-x-twitter:hover {
  color: #fff;
  cursor: pointer;
}
.fa-instagram:hover {
  color: rgb(250, 126, 30);
  cursor: pointer;
}
.fa-linkedin-in:hover {
  color: #0078f6;
  cursor: pointer;
}
.fa-youtube:hover {
  color: red;
  cursor: pointer;
}
.fa-soundcloud:hover {
  cursor: pointer;
  color: orange;
}
